<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="~{fragments/head :: head}"></div>
    <title>Login</title>
</head>
<body>
    <header>
        <div th:replace="~{fragments/navbar :: navbar}"></div>
    </header>
    <main>
        <header>
            <h1>Sign In</h1>
        </header>

        <div th:if="${param.logout}">
            <p>You have been logged out.</p>
        </div>

        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
            <p>You're already signed in.</p>
            <button type="submit">Sign Out</button>
        </form>

        <form sec:authorize="isAnonymous()" th:action="@{/login}" method="post" class="form-wrapper">
            <label> Username: <input type="text" name="username"/> </label>
            <label> Password: <input type="password" name="password"/> </label>
            <button type="submit">Sign In</button>
        </form>

        <div th:if="${param.error}">
            <p>Invalid username or password.</p>
        </div>
    </main>
</body>
</html>