<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="~{fragments/head :: head}"></div>
    <title>Products</title>
</head>
<body>
    <header>
        <div th:replace="~{fragments/navbar :: navbar}"></div>
    </header>
    <main>
        <header>
            <h1>Products</h1>
        </header>

        <section th:if="${error}">
            <h2 th:text="${error}"></h2>
            <p th:text="${message}" th:if="${message}"></p>
        </section>

        <section th:if="${#lists.isEmpty(products)}">
            <h2>No products available</h2>
            <p>There are currently no products in our inventory.</p>
        </section>

        <section sec:authorize="isAnonymous()" class="info-message warning">
            <p>To buy products you need to <a th:href="@{/login}">log in</a> or <a th:href="@{/register}">create an account</a>.</p>
        </section>

        <section th:unless="${#lists.isEmpty(products)}" class="product-list">
            <article th:each="product : ${products}" class="product-card">
                <div class="product-card-image">
                    <img th:src="${product.image}"
                         th:alt="${product.title}">
                </div>
                <div class="product-card-body">
                    <div class="product-card-details">
                        <header>
                            <h2 th:text="${product.title}">Product Title</h2>
                            <p class="text-pill"><span th:text="${product.category}">Category</span></p>
                        </header>

                        <p th:text="${product.description}">Product description...</p>

                        <div th:if="${product.rating}">
                            <p><strong>Rating:</strong> <span th:text="${product.rating.rate}"></span>/5
                               (<span th:text="${product.rating.count}"></span> reviews)</p>
                        </div>
                    </div>
                    <footer class="product-card-footer">
                        <p>$<span th:text="${#numbers.formatDecimal(product.price, 1, 2)}">0.00</span></p>
                        <form sec:authorize="isAuthenticated()" th:action="@{/products/{productId}/buy(productId=${product.id})}" method="post">
                            <button type="submit">Buy</button>
                        </form>
                    </footer>
                </div>
            </article>
        </section>
    </main>
</body>
</html>
